
/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

/* Google Fonts 

    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

*/

:root {
    --titulo: 'Nunito', sans-serif;
    --titulo1:'Playfair Display', serif;
    --titulo2:'Roboto', sans-serif;
    --titulo3:'Source Sans Pro', sans-serif;
}

body {
    background-image: url(../img/fondo01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main {
    width: 90%;
    height: 440px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 191, 210, 0.4);
    border-radius: 30px;
}

h1 {
    font-family: var(--titulo1);
    font-size: 2rem;
    font-weight: 900;
    color: rgb(10, 9, 70);
    text-align: center;
    
}

h3 {
    font-family: var(--titulo2);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 20px 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flex {
    margin-bottom: 20px;
}



.flex,
.bootstrap{
    width: 100%;
    height: 115px;
    box-sizing: border-box;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.flex:hover,
.bootstrap:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.flex:active,
.bootstrap:active {
	position:relative;
	top:1px;
}

.flex p,
.bootstrap p {
    font-family: var(--titulo2);
    font-size: 1.5rem;
    font-weight: 900;
    color:rgb(10, 9, 70)
}

.flex p i,
.bootstrap p i {
    font-size: 4rem;
}

.iconos {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    background-color: rgba(128, 191, 210, 0.4);
    border: 1px solid black;
    padding: 10px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
}

/* Media queris */

/* resolucion moviles apaisados 576px y superiores */
@media (min-width: 576px) { 
    main {
        height: 250px;
    }
    .menu {
        flex-direction: row;
    }
    h3 {
        margin: 10px 0;
    }

    .flex {
        margin-bottom: 0;
    }
    
    .flex,
    .bootstrap{
        width: 45%;
        height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .flex p,
    .bootstrap p {
        font-size: 1.2rem;
    }
    
    .flex p i,
    .bootstrap p i {
        font-size: 3rem;
    }    
}

/* resolucion tablest, 768px y superiores */
@media (min-width: 768px) {
    main {
        width: 60%;
        height: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    main {
        width: 40%;
        height: 250px;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }




